body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	background-image: url("../img/head.png");
	background-size: cover;
	border-top: 10px solid #2ecc71;
	color: white;
	height: 600px;
	width: 100%;
}

h2 {
	font-weight: normal;
}

.header_contenido {
	margin: 0 auto;
	position: relative;
	width: 1010px;
}

.header_contenido .logo {
	position: absolute;
	top: 168px;
}

.header_contenido .logo img {
	display: block;
}

.header_contenido p {
	margin-top: 0;
	position: absolute;
	top: 283px;
	font-size: 1.5em;
	line-height: 1.5;
	width: 460px;
}

.header_contenido .iconos {
	position: absolute;
	top: 380px;
}

.header_contenido .iconos .br_green {
	border-radius: 50%;
	background-color: black;
	opacity: .5;
	display: inline-block;
	margin-right: 10px;
	transition: .5s ease;
}

.header_contenido .iconos .br_green:hover {
	background-color: #2ecc71;
	cursor: pointer;
	opacity: 1;
}

.header_contenido .iconos .br_green img {
	display: block;
	padding: 15px;
}

.header_contenido .hand {
	position: absolute;
	right: 0;
	top: 93px;
}

.header_contenido .hand img {
	display: block;
}

/*fin del header*/

.contenido {
	padding: 60px 0;
	width: 1180px;
	margin: 0 auto; 
	display: flex;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
}

.detalles {
	background-color: white;
}

.contenido .tres_cols {
	width: 27%;
	text-align: center;
}

.contenido .tres_cols .iconos_articulo {
	border-radius: 50%;
	background-color: #2ecc71;
	display: inline-block;
}

.contenido .tres_cols .iconos_articulo img {
	display: block;
	padding: 30px;
}

.contenido .tres_cols p {
	color: #a5a5a5;
	line-height: 1.5;
	margin-bottom: 0;
}

/*Fin seccion detalles*/

.notificacion {
	background-color: #e3e3e3;
}

.contenido .get {
	width: 540px;
}

.notificacion .contenido h2 {
	margin-top: 0;
}

.contenido .get p {
	color: #848484;
	line-height: 1.5;
}

.contenido form {
	width: 380px;
	margin-top: 15px;
	display: block;
}

.contenido form .mail {
	border: none;
	border: 1px solid #c8c8c8;
	border-radius: 10px 0 0 10px;
	box-sizing: border-box;
	padding-left: 20px;
	height: 50px;
	font-size: 16px;
	color: #8c8c8c;
	width: calc(72% - 6px);
	display: inline-block;
	vertical-align: top;
}

.contenido form .boton_enviar {
	border: none;
	border-radius: 0 10px 10px 0;
	box-sizing: border-box;
	height: 50px;
	font-size: 24px;
	color: white;
	background-color: #2ecc71;
	position: relative;
	left: -5px;
	width: 28%;
	display: inline-block;
	vertical-align: top;
}

.contenido form .boton_enviar:hover {
	cursor: pointer;
}

.contenido .video video {
	width: 500px;
	display: block;
	border-radius: 10px;
	cursor: pointer;
}

/*Fin de la seccion notificacion*/

.personajes {
	background-color: white;
}

.personajes .contenido {
	display: block;
}

.contenido .comentario {
	width: 830px;
	margin: 0 auto;
	text-align: center;
}

.contenido .comentario p {
	line-height: 1.5;
	margin-top: 0;
	font-style: italic;
	font-size: 18px;
	color: #8c8c8c;
}

.contenido .comentario .personaje_comentario {
	color: black;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 25px;
}

.contenido .personajes_imagenes {
	width: 100%;
	margin-bottom: 60px;
	text-align: center;
}

.contenido .personajes_imagenes a {
	display: inline-block;
	background-color: #2ecc71;
	opacity: 1;
}

.contenido .personajes_imagenes a img:hover {
	opacity: .4;
}

.contenido .personajes_imagenes img {
	width: 50px;
	display: block;
	transition: .5s ease;
}

.contenido .sociales {
	text-align: center;
}

.contenido .sociales p.hi {
	font-size: 1.4em;
	font-weight: bold;
	color: black;
	margin-top: 0;
}

.contenido .sociales p {
	color: #848484;
}

.contenido .sociales ul {
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
}

.contenido .sociales ul li {
	display: inline-block;
	margin-right: 5px;
}

.contenido .sociales ul a {
	display: inline-block;
	border-radius: 50%;
	background-color: #d4d4d4;
	transition: 0.5s ease;
}

.contenido .sociales ul a:hover {
	background-color: #62d995;
}

.contenido .sociales ul img {
	display: block;
	padding: 10px;
}

/*Fin de la seccion personajes*/

footer {
	background-color: #e3e3e3;
}

.contenido nav {
	width: 100%;
	text-align: center;
}

.contenido nav .menu {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.contenido nav .menu li {
	display: inline-block;
	padding-right: 30px; 
}

.contenido nav .menu li.last {
	padding-right: 0;
}

.contenido nav .menu a {
	font-size: 1.2em;
	color: #848484;
	text-decoration: none;
}

